---
---

@import "minimal-mistakes/skins/air";

$primary-color: #2563EB;
$link-color: #2563EB;
$masthead-link-color: #0F172A;

body {
  background-color: #F8FAFC;
  color: #1E293B;
}

.btn--primary {
  background-color: #2563EB;
  color: white;
}

.btn--success {
  background-color: #16A34A;
}
